<article itemscope itemtype="http://schema.org/Painting">
  <h1 itemprop="name">Stars and Stones I</h1>
  <img itemprop="image" alt="Stars and Stones I" src="http://homepage.eircom.net/~oliviauhlar/Stars_and_Stones_I.jpg" width="450" height="350" />
  <div itemprop="thumbnailUrl">http://3-dot-eireoliviauhlar.appspot.com/img/Stars_and_Stones_I_50px.jpg</div>
  <p>Painted in <span itemprop="dateCreated">2001</span>.</p>
  <p>© <span itemprop="copyrightYear">2001</span> by <span itemprop="copyrightHolder">Olivia Uhlar</span></p>
  <p itemprop="creator" itemscope itemtype="http://schema.org/Person">
    By <a itemprop="url" href="http://3-dot-eireoliviauhlar.appspot.com/">
        <span itemprop="name">Olivia Uhlar</span>
      </a>.
  </p>
  <p><span itemprop="materials">Oil on canvas</span>, <span itemprop="dimensions">77 cm × 53 cm (30 in × 21 in)</span></p>
  <p><span itemprop="description">The history of Stars and Stones I</p>
</article>
